html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}
canvas {
  border-radius: 10px;
  display: block;
  margin: auto;
  width: 70%!important;
}

@media (max-width: 990px){
  canvas{
    height: 60%!important;
  }
}

.loader{
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 200;
  transition: 2s;
}

.loader img{
  width: 20%;
}

@media(min-width: 1000px){
  .loader img{
    width: 15%;
  }
}

.hide-loader{
  visibility: hidden;
  pointer-events: none;
}

.instructions{
  width: 70%;
  line-height: 1.6em;
  font-weight: 300;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  border: 2px solid #2a7fba;
  background-color: #fff;
  z-index: 100;
  padding: 30px;
  transition: 1s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (min-width: 990px){
  .instructions{
    width: 40%;
  }
}

.instructions button{
  margin-top: 30px;
  padding: 10px 15px;
  display: block;
  background-color: #fff;
  color: #2a7fba;
  margin: auto;
  border-radius: 8px;
  border: 1px solid #2a7fba;
  transition: 0.4s;
}

.instructions button:hover{
  background-color: #2a7fba;
  color: #fff;
  transition: 0.4s;
}

.instructions .cross{
  cursor: pointer;
  padding: 2px;
  align-self: flex-end;
}

.instructions span{
  cursor: pointer;
  display: block;
  margin: 4px;
  margin-left: auto;
  width: 30px;
  height: 2.5px;
  border-radius: 10px;
  background-color: #2a7fba;
  color: #2a7fba;
}

.instructions span:nth-child(1){
  transform: rotate(45deg);
}

.instructions span:nth-child(2){
  transform: rotate(-45deg) translate(3.5px, -4px);
}

.display-none{
  transition: 1s;
  display: none;
}