html, body{
    overflow-x: hidden;
    font-family: 'Montserrat';
}

*{
    padding: 0;
    margin: 0;
}

.pre-loader{
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: 1s ease;
    pointer-events: none;
}

.pre-loader img{
    width: 11%;
}

.hide-loader{
    visibility: hidden;
    pointer-events: none;
}

.choose-pref{
    height: 100vh;
    width: 100%;
    font-size: 20px;
    font-weight: 600;
    color: #2a7fba;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

.choose-pref .btns{
    display: flex;
    margin-top: 15px;
    
}

.btn-choose{
    display: block;
    margin: 5px 10px;
    padding: 8px 14px;
    color: #2a7fba;
    background-color: #fff;
    border: 1px solid #2a7fba;
    outline: none;
    border-radius: 5px;
    transition: 0.3s;
    cursor: pointer;
}

.btn-choose:hover{
    background-color: #2a7fba;
    color: #fff;
}

.selectFile-container, canvas{
    display: none;
}

.selectFile-container{
    background-color: #f8f8f8;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.input-inner{
    margin-top: 25px;
    background-color: #fff;
    padding: 40px;
    border: 1.5px solid #ddd;
    border-radius: 10px;
    transition: 0.3s;
}

.input-inner:hover{
    border-color: #2a7fba;
}

label, input{
    display: block;
    text-align: center;
    font-size: 27px;
}

label{
    font-weight: 600;
    color: #2a7fba;
}

input{
    font-size: 20px;
    display: flex;
    justify-content: center;
}

#imageUpload{
    padding: 10px 15px;
    background-color: #fff;
}


#btn-predict{
    padding: 10px 15px;
    background-color: #fff;
    outline: none;
    display: block;
    margin: 15px auto;
    cursor: pointer;
    border: 1px solid #2a7fba;
    transition-duration: 0.3s;
    border-radius: 5.5px;
    
}

#btn-predict:hover{
    background-color:  #2a7fba;
    color: #fff;
}

#imagePreview{
    margin-top: 20px;
}





















/*
.btn {
    width: 134px;
    height: 48px;
    margin: 5px;
    background: #3498db;
    border-color:  #3498db;
}

.btn:hover{
    background: #34495E;
    color: #3498db;
}

.navbar {
    background: #3498db;   
}

.navbar-brand{
    color: #ffffff;
}

#imagePreview {
    width: 800px;
    height: 600px;
    position: relative;
    border: 5px solid #F8F8F8;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
    margin-top: 1em;
    margin-bottom: 1em;    
}

#imagePreview>div {
    width: 100%;
    height: 100%;
    background-size: 800px 600px;
    background-repeat: no-repeat;
    background-position: center;
}

input[type="file"] {
    display: none;
}

.upload-label{
    display: inline-block;
    padding: 12px 30px;
    background: #3498db;
    color: #fff;
    font-size: 1em;
    transition: all .4s;
    cursor: pointer;
}

.upload-label:hover{
    background: #34495E;
    color: #3498db;
}

.loader {
    border: 8px solid #f3f3f3; /* Light grey
    border-top: 8px solid #3498db; /* Blue */
    /* border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
} */


